<!--!
Copyright 2016 Google Inc. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Twitter card headers-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@voxpelli" />
  <meta name="twitter:title" content="Web API Controversy" />
  <meta name="twitter:description" content="Website to show browser opinions on controversial APIs" />
  <meta name="twitter:image" content="https://webapicontroversy.com/images/star.png" />

  <!--Facebook Open Graph headers-->
  <meta property="og:title" content="Web API Controversy" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Website to show browser opinions on controversial APIs" />
  <meta property="og:url" content="https://ishoudinireadyyet.com" />
  <meta property="og:image" content="https://webapicontroversy.com/images/star.png" />

  <title>Web API Controversy</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" type="image/png" href="images/star.png">
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Roboto Condensed', sans-serif;
    }
    body {
      max-width: 1280px;
      margin: 0 auto;
    }
    .title, .intro{
      text-align: center;
      margin: 1em 0;
    }
    .title {
      font-size: 3em;
    }
    .title a {
      color: inherit;
    }
    table {
      width: 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
    td {
      text-align: center;
      padding: 10px;
    }
    dl {
      text-align: left;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin-bottom: 10px;
    }
    .status__api__links,
    .status__api__links a {
      text-decoration: none;
      color: rgba(0,0,0,0.54);
      font-weight: 300;
    }
    th a:not(:first-of-type) {
      margin-left: 5px;
    }
    footer a:hover,
    th a:hover {
      text-decoration: underline;
    }
    .button {
      display: block;
      border: 0;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;
      margin-top: 10px;
      padding: 10px;
      font-size: 1em;
      width: 100%;
      text-decoration: none;
      cursor: pointer;
    }
    .button:hover {
      opacity: 0.8;
    }
    /* Rounded corners for status table */
    tbody tr:first-of-type > td:first-of-type {
      border-top-left-radius: 3px;
    }
    tbody tr:first-of-type > td:last-of-type {
      border-top-right-radius: 3px;
    }
    tbody tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 3px;
    }
    tbody tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 3px;
    }
    thead td {
      vertical-align: top;
    }
    thead .status__browser img {
      display: block;
      height: 50px;
      margin: 10px auto;
    }
    /* Color codings */
    .status__engine {
      background-color: hsl(0, 0, 65%);
    }
    .details--no,
    .status__completeness--no {
      background-color: hsl(0, 0, 65%);
    }
    .status__completeness--no::before {
      content: 'Unknown';
    }
    .details--consideration,
    .status__completeness--consideration,
    .details--intent,
    .status__completeness--intent {
      background-color: hsl(260, 50%, 65%);
    }
    .status__completeness--consideration::before {
      content: 'Under consideration';
    }
    .status__completeness--intent::before {
      content: 'Intent to implement';
    }
    .details--development,
    .status__completeness--development {
      background-color: hsl(28, 80%, 65%);
    }
    .status__completeness--development::before {
      content: 'In Development';
    }
    .details--partially,
    .status__completeness--partially {
      background-color: hsl(50, 70%, 60%);
    }
    .status__completeness--partially::before {
      content: 'Partial support';
    }
    .details--yes,
    .status__completeness--yes {
      background-color: hsl(95, 60%, 60%);
    }
    .status__completeness--yes::before {
      content: 'Shipped';
    }
    .details--deprecated,
    .status__completeness--deprecated {
      background-color: hsl(34, 97%, 46%)
    }
    .status__completeness--deprecated::before {
      content: 'Deprecated';
    }
    .details--harmful,
    .status__completeness--harmful {
      background-color: hsl(0, 69%, 48%)
    }
    .status__completeness--harmful::before {
      content: 'Harmful';
    }
    .status__browser--spec.status__completeness--none {
      background-color: hsl(0, 50%, 65%);
    }
    .status__browser--spec.status__completeness--none::before {
      content: 'No spec';
    }
    .status__browser--spec.status__completeness--draft-community-group-report {
      background-color: hsl(260, 50%, 65%);
    }
    .status__browser--spec.status__completeness--draft-community-group-report::before {
      content: 'Community Draft';
    }
    .status__browser--spec.status__completeness--fpwd {
      background-color: hsl(28, 80%, 65%);
    }
    .status__browser--spec.status__completeness--fpwd::before {
      content: 'First Public Working Draft';
    }
    .status__browser--spec.status__completeness--wd {
      background-color:  hsl(50, 70%, 60%);
    }
    .status__browser--spec.status__completeness--wd::before {
      content: 'Working Draft';
    }
    .status__browser--spec.status__completeness--cr {
      background-color: hsl(95, 60%, 60%);
    }
    .status__browser--spec.status__completeness--cr::before {
      content: 'Candidate Recommendation';
    }

    .details {
      display: none;
      opacity: 0;
      position: fixed;
      will-change: transform;
      transform-origin: 0% 0%;
      z-index: 1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
      border-radius: 3px;
      padding: 30px;

      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .details > .details__content {
      max-width: 720px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .details__close {
      height: 40px;
    }
    .details.displayed {
      display: flex;
    }
    .details.visible {
      opacity: 1;
    }
    .details.maximized {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    }
    .details.animated {
      transition: transform 0.3s ease-in-out;
    }
    footer {
      width: 100%;
      text-align: center;
      color: rgba(0, 0, 0, 0.54) !important;
      margin-top: 30px;
      padding: 10px;
    }
    footer a {
      color: black;
      text-decoration: none;
    }
    .status__api__article {
      font-weight: bold !important;
      text-decoration: underline !important;
    }
  </style>
</head>
<body>
  <h1 class="title">Web API Controversy</h1>
  <div class="intro">
    <strong>Shut down</strong> due to lack of time to maintain + a general lack of interest from others as well as coming across as controversial in itself, requiring more time to navigate and research. Git history can still be found in <a href="https://github.com/voxpelli/webapicontroversy.com" target="_blank" rel="noopener noreferrer">the GitHub repository</a>. Thanks for the interest! / Pelle<br />
    <br />
    <strong>Background was:</strong> Lots of discussions and arguments on Twitter, GitHub, blogs and mailing lists. A summary can be found in eg. this <a href="https://github.com/mozilla/standards-positions/issues/378" target="_blank" rel="noopener noreferrer">GitHub issue</a> and this <a href="https://www.cnet.com/news/google-plan-for-chrome-capability-has-a-big-security-risk/" target="_blank" rel="noopener noreferrer">CNET article</a>.
  </div>
  {{!--
  <table>
    <thead>
      <tr>
        <td class="empty"></td>
        {{#each browser}}
          <td class="status__browser status__browser--{{tag}}">
            <img src="logos/{{tag}}.svg">
            {{name}}
          </td>
        {{/each}}
        <td class="status__browser status__browser--spec">
          <img src="logos/w3c.svg">
          Spec
        </td>
      </tr>
      <tr>
        <th>Engine</th>
        {{#each engines}}
          <td colspan="{{this}}" class="status__engine">
            {{@key}}
          </td>
        {{/each}}
        <td class="status__engine">-</td>
      </tr>
    </thead>
    <tbody>
    {{#each api}}
      {{#with . as |api|}}
        <tr class="status__api status__api--{{api.tag}}">
          <th>
            {{api.name}}
            <div class="status__api__links">
              (<!--
                -->{{#if api.explainer}}<a href="{{api.explainer}}" class="status__api__explainer" rel="noopener noreferrer">Explainer</a>{{/if}}<!--
                -->{{#if api.demos}}<a href="{{api.demos}}" class="status__api__demos" rel="noopener noreferrer">Demos</a>{{/if}}<!--
                -->{{#if api.article}}<a href="{{api.article}}" class="status__api__article" rel="noopener noreferrer">Article</a>{{/if}}<!--
              -->)
            </div>
          </th>
          {{#each ../browser}}
            {{#with . as |browser|}}
              <td class="status__browser--{{tag}} status__completeness status__completeness--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}">
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "since")}}
                  <br>({{lookup (lookup (lookup ../../status api.tag) browser.tag) "since"}})
                {{/if}}
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "has_details")}}
                  <button class="button status__completeness__detailsbutton" data-details-id="{{api.tag}}_{{browser.tag}}" data-browser="{{browser.tag}}" data-api="{{api.tag}}">Details</button>
                {{/if}}
              </td>
            {{/with}}
          {{/each}}
          <td class="status__browser--spec status__completeness status__completeness--{{status}}">
            {{#if spec}}
              <br><a class="button status__completeness__detailsbutton" href="{{spec}}" target="_blank" rel="noopener">Spec</a>
            {{/if}}
          </td>
        </tr>
      {{/with}}
    {{/each}}
    </tbody>
  </table>
  {{#each api}}
    {{#with . as |api|}}
      {{#each ../browser}}
        {{#with . as |browser|}}
          <div id="{{api.tag}}_{{browser.tag}}" class="details details--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}" data-browser="{{browser.tag}}" data-api="{{api.tag}}">
            <div class="details__content">
              <h2 class="details__title">{{api.name}} in {{browser.name}}</h2>
              {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "has_details")}}
                {{{read_partial api.tag browser.tag}}}
              {{/if}}
              <button class="details__close button">Close</button>
            </div>
          </div>
        {{/with}}
      {{/each}}
    {{/with}}
  {{/each}}
  {{#each faq}}
    <div id="faq_{{tag}}">
      <h2>{{question}}</h2>
      <p>{{answer}}</p>
      {{#if seemore}}
        <a href="{{seemore}}">See more</a>
      {{/if}}
    </div>
  {{/each}}
  --}}
  <footer>
    Maintained by <a href="https://twitter.com/voxpelli" target="_blank" rel="noopener noreferrer">VoxPelli</a>,
      source code & license in the <a href="https://github.com/voxpelli/webapicontroversy.com" target="_blank" rel="noopener noreferrer">repository</a> on GitHub, PR:s are much appreciated,
      last updated on {{last_update}}<br />
      Thanks a lot to <a href="https://twitter.com/DasSurma" target="_blank" rel="noopener noreferrer">Surma</a> who created <a href="https://ishoudinireadyyet.com/" target="_blank" rel="noopener noreferrer">Is Houdini ready yet?</a> which this site is based on.
  </footer>
  <script>
    (function() {
      var table = document.querySelector('table');

      function showDetails(ev) {
        var details = document.getElementById(ev.target.dataset.detailsId);
        details.classList.add('displayed', 'maximized');
        var last = details.getBoundingClientRect();
        var first = ev.target.parentNode.getBoundingClientRect();
        details.dataset.transform = details.style.transform =
          'translate(' + (first.left - last.left) + 'px, ' + (first.top - last.top) + 'px)' +
          'scale(' + (first.width/last.width) + ', ' + (first.height/last.height) + ')';
        requestAnimationFrame(function() {
          requestAnimationFrame(function() {
            details.classList.add('visible', 'animated');
            details.style.transform = 'none';
          });
        });

        // Fade out table for a11y
        table.addEventListener('transitionend', function once(ev) {
          if (ev.target !== table) {
            return;
          }
          table.removeEventListener('transitionend', once);
          table.style.visibility = 'hidden';
        });
        table.style.opacity = 0;
      }

      function hideDetails(ev) {
        var details = ev.target.parentNode.parentNode;
        details.addEventListener('transitionend', function once() {
          details.removeEventListener('transitionend', once);
          details.classList.remove('visible', 'animated', 'displayed', 'maximized');
          details.dataset.transform = details.style.transform = '';
        });
        details.style.transform = details.dataset.transform;

        // Fade in table
        table.style.visibility = 'visible';
        requestAnimationFrame(function() {
          requestAnimationFrame(function() {
            table.style.opacity = 1;

            // Focus details button in cell
            document
              .querySelector('.status__api--' + details.dataset.api)
              .querySelector('.status__browser--' + details.dataset.browser)
              .querySelector('button').focus();
          });
        });

      }

      // Register click handlers for all the buttons
      var detailsbtns = document.querySelectorAll('.status__completeness > .status__completeness__detailsbutton');
      for(var i = 0; i < detailsbtns.length; i++) {
        detailsbtns[i].addEventListener('click', showDetails);
      }

      var closebtns = document.querySelectorAll('.details__close');
      for(var i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener('click', hideDetails);
      }

      document.addEventListener('keydown', function (ev) {
        if (ev.key !== 'Escape') {
          return;
        }
        var openDetails = document.querySelector('.details.visible');
        if (!openDetails) {
          return;
        }

        openDetails.querySelector('.details__close').click();
      });
    })();
  </script>
</body>
</html>
